@import https://rsms.me/inter/inter.css;

:root {
    --surface-sunken: #1b1e24;
    --surface-default: #21242B;
    --surface-raised: #2c3039;
    --accent: #52C6EB;
    --outline: #FFFFFF20;
    --focus-color: #FFFFFF;
    --focus-width: 1px;
    --text-primary: #FFFFFFFF;
    --text-secondary: #FFFFFF50;
}

html {
    font-family: monospace;
    font-size: 14px;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    height: 100%;
    background-color: var(--surface-default);
    color: var(--text-primary);
    overflow-y: scroll;
    line-height: 1.725;
}

#root-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px 32px;
}

#root-content {
    margin: 24px 0px;
    flex-grow: 1;
}

.post-meta-bar {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.post-meta-bar .h-menu {
    margin-left: 16px;
}

.post-meta-bar .post-meta-bar-tag {
    color: #ffffff80;
}

.org-source-block {
    background: #1B1E24;
    outline: 1px solid var(--outline);
    border-radius: 16px;
    padding: 0 16px;
    overflow: scroll;
}

.org-source-block pre {
    margin: 16px 0;
}

.org-source-block code {
    font-family: monospace;
}

#site-header {
    display: flex;
    flex-direction: row;
    padding: 96px 0 0 0;
    font-weight: bold;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: center;


    @media (max-width: 1024px) {
        padding: 64px 0 0 0;
    }
}

#site-header-menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

#site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    color: var(--outline);
}

#game-footer {
    height: 64px;
    width: 100%;
}

.menu-item-icon {
    height: 16px;
    width: 16px;
    margin: 0 0 0 12px;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.menu-item-icon:hover,
.menu-item-icon:focus
{
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.menu-item-selected {
    font-weight: bold;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul.h-menu {
    margin: auto 0;
    padding-inline-start: 0px;
}

ul.h-menu li {
    display: inline;
    padding: 0 0px 0px 8px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--outline);
}

h1 {
    color: #FFFFFF;
    font-size: 1.4rem;
    margin: 0;
}

h2 {
    font-size: 1.2rem;
    color: #FFFFFF;
    position: relative;
}

.document h2::before {
    content: "#";
    position: absolute;
    left: -20px;
    color: var(--accent);
    font-weight: normal;
}

.document ul {
    padding-inline-start: 16px;
}

.divider {
    flex-grow: 1;
    border: dashed 1px #FFFFFF;
    margin: 5px;
}

hr {
    margin: 0;
    border: none;
    height: 1px;
    width: 100%;
    color: var(--outline);
    background-color: var(--outline);
}

a {
    color: var(--accent);
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}

#game-container {
    display: flex;
    background-color: #000000;
    outline: 1px solid var(--outline);
    border-radius: 16px;
    margin: 24px 0px;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.game {
    width: 960px;
    height: 720px;
    border: 0;
    overflow: hidden;
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;

    @media (max-width: 1024px) {
        width: 640px;
        height: 480px;
    }

    @media (max-width: 704px) {
        width: 320px;
        height: 240px;
    }
}

.project-sidebar {
    padding: 0px 24px;
    min-width: 200px;

    @media (max-width: 704px) {
        padding: 0px 0px;
    }
}

.project-sidebar ul {
    padding-inline-start: 32px;
}

.project-sidebar > ul {
    padding: 0px 0px 0px 24px;
    border-left: 1px solid var(--outline);

    @media (max-width: 704px) {
        padding: 24px 0px 0px 0px;
        border-top: 1px solid var(--outline);
        border-left: 0;
    }
}

.project-sidebar > ul > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.project-showcase {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    margin: 24px 0px 32px 0px;
    @media (max-width: 704px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--surface-raised);
    transition: all .2s ease-in-out;
}

.project-card:hover,
.project-card:focus-within {
    transform: translateY(-8px);
    box-shadow: 0 0 0 var(--focus-width) var(--focus-color);
}

.project-card a {
    text-decoration: none;
}

.project-card .project-body {
    margin-bottom: 16px;
}

.project-card > .details {
    margin: 8px 24px 24px 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.project-card > .image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: var(--surface-sunken);
}

.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 48px;
    object-fit: contain;
}

.pixelated {
    image-rendering: pixelated;
}

.project-card .tags {
    margin-top: auto;
    color: var(--text-secondary);
    display: flex;
    gap: 8px;
}

#project-container {
    display: flex;
    flex-direction: row;
    gap: 48px;

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 0;
    }
}

p {
    margin: 1em 0 2em 0;
}

ul {
    margin: 1em 0 2em 0;
}

ul ul {
    margin: 0;
}

/* * Utilities for clickable containers */

.clickable-parent a::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
}

.focusable-parent:focus-within {
    box-shadow: 0 0 0 var(--focus-width) var(--focus-color);
}

.focusable-parent:focus-within :focus {
    box-shadow: none;
    outline: none;
}
